* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Exo;
  scroll-behavior: smooth;
}

input {
  outline: none;
}

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}