@font-face {
    font-family: Exo;
    src: url('../../fonts/Exo2-Regular.ttf');
}
@font-face {
    font-family: Exo500;
    src: url('../../fonts/Exo2-Medium.ttf');
}
@font-face {
    font-family: Exo600;
    src: url('../../fonts/Exo2-SemiBold.ttf');
}
@font-face {
    font-family: Exo700;
    src: url('../../fonts/Exo2-Bold.ttf');
}